body{

font-family:'Poppins',sans-serif;

background:#f3f6fb;

}

.custom-navbar{

background:#0B3C91;

}

.navbar-brand{

font-size:28px;

color:white!important;

}

.nav-link{

color:white!important;

font-weight:500;

margin-right:15px;

transition:.3s;

}

.nav-link:hover{

color:#ffd43b!important;

}

.dropdown-menu{

border-radius:15px;

border:none;

box-shadow:0 10px 30px rgba(0,0,0,.2);

}

.dropdown-item:hover{

background:#0B3C91;

color:white;

}

.form-control{

border-radius:25px;

}

.btn-warning{

border-radius:25px;

padding-left:20px;

padding-right:20px;

}

.container{

margin-top:120px;

}